.trianxt-logo{
    font-size: 30px;
    font-weight: 800;
    color:#fff;
    line-height:1;
    letter-spacing:-1px;

    background:none;
    box-shadow:none;
    border:none;

    padding:0;
    margin:0;
}

.trianxt-logo[role="button"] {
  cursor: pointer;
}

/* Sidebar Logo */
.trianxt-logo--sidebar{
    font-size: 30px;      /* was ~40px */
    font-weight: 800;
    line-height: 1;
    color: #ffffff;
    letter-spacing: -0.5px;

    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
}

.trianxt-logo--auth {
  color: var(--tnxt-navy);
  font-size: 28px;
  margin: 0 auto 15px;
  text-align: center;
}

.trianxt-logo--auth[role="button"] {
  cursor: pointer;
}
